* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 38vh;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  background-color: #222;
}

.result-screen {
  font-size: 8vh;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.operation-screen {
  color: grey;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.screen {
  height: 86px;
  background-color: #393939;
  padding: 2px 6px 20px 0;
}

#buttons {
  background-color: black;
  height: 55vh;
  width: 100%;
}

#buttons .row {
  height: 11vh;
  width: 100%;
  display: flex;
  color: white;
  overflow: hidden;
}

#buttons .btn {
  background-color: #2e2e2e;
  width: 25%;
  /* height: 80%; */
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #00000021;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

#buttons .btn:hover {
  background-color: #3a3737;
  transform: scale(1.2);
}

#buttons .large {
  width: 50%;
  background-color: #278ba9;
  color: white;
}

#buttons #clear {
  background-color: #a90ec5;
}
