* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 320px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  background-color: #222;
}

.result-screen {
  font-size: 2.5em;
  min-height: 1.4em;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.operation-screen {
  color: grey;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 1em;
  margin-bottom: 0.25em;
  line-height: 1;
}

.screen {
  background-color: #393939;
  padding: 1.5em 1em;
}

#buttons {
  background-color: black;
  height: 50vh;
  width: 100%;
}

#buttons .row {
  height: 10vh;
  width: 100%;
  display: flex;
  color: white;
  overflow: hidden;
}

#buttons .btn {
  background-color: rgb(46, 46, 46);
  width: 25%;
  font-size: 1rem;
  font-family: inherit;
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 1px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s;
}

#buttons .btn:hover {
  background-color: rgb(33, 33, 33);
}

#buttons .large {
  width: 50%;
  background-color: #278ba9;
  color: white;
}

#buttons .clear {
  background-color: #a90ec5;
}
